@use '../tools/sass/_position' as *
@use '../tools/sass/_header' as *
@use '../tools/sass/_footer' as *
:root
    --nav-f-s: 14px
    --nav-c-g: 24px
*
    direction: ltr

html body header.top .menu #navList #list-sps
    padding-inline: 8px
    &:hover
        color: #0D652D
        background-color: #E9F6ED
        border-bottom-color: #0D652D
        i.fa-plus
            background-color: white
    i.fa-plus
        transition: background-color var(--fast)
        font-size: 20px
        height: 32px
        width: 32px
        border-radius: 50%
        background-color: #E9F6ED
        text-align: center
        line-height: 32px
        color: #0D652D

.basics

    @extend %F-between
    margin-block: 32px
    flex-flow: row nowrap
    height: 100px
    img
        height: 100%
    .order
        height: 100%
        position: relative
        .h2
            position: absolute
            left: 50%
            top: 20px
            color: white
            transform: translateX(-50%)
    .prs
        height: 100%
        text-align: right
        @extend %F-between
        column-gap: 16px
        flex-flow: row nowrap
        .personalImg
            position: relative
            height: 100%
            .fa-pen-to-square
                position: absolute
                top: -8px
                cursor: pointer
                right: -8px
            img
                box-shadow: var(--2db-ambient),var(--2db-penumbra) ,var(--2db-umbra)
                border-radius: 50%
                aspect-ratio: 1/1
                background-size: cover
.h2
    font-size: 22px
    margin-block: 8px
    font-weight: 700
    display: block
.h9
    font-size: 14px
    color: #999
.row
    @include carts(300px , 220px , 32px, 32px )
    margin-block: 64px 32px
    .col
        height: 300px
        line-height: 1.3
        font-size: 23px
        width: 100%
        text-align: center
        flex-flow: column
        @extend %F-between
        row-gap: 16px
        padding: 16px 8px
        border-radius: 12px
        border: 1px solid #eee
        box-shadow: var(--2db-ambient) ,var(--2db-penumbra) ,var(--2db-umbra)
        .list
            @extend %F-between
            flex-flow: column nowrap
            height: 100%
        .circle
            width: 100%
            max-height: 70%
            position: relative
            span
                @extend %A-center
                font-size: 32px
                top: 55%
        .bds
            height: 100%
            text-align: right
            width: 100%
            .bd
                @extend %F-between
                box-shadow: var(--1db-ambient) , var(--1db-penumbra)
                padding: 16px 32px
                border-radius: 16px
                font-size: 18px
                margin-bottom: 8px
            .glodenBd
                background-color: rgba(255, 199, 12, 0.15)
                color: #FFC70C
                border: #FFC70C 2px solid
            .purple
                background-color: rgba(128, 0, 128, 0.15)
                color: rgb(128, 0, 128)
                border: rgb(128, 0, 128) 2px solid
            .blue
                background-color: rgba(0, 120, 215, 0.15)
                color: rgb(0, 120, 215)
                border: rgb(0, 120, 215) 2px solid

        .num
            @extend %F-between
            font-size: 12px
            width: 100%
        progress
            width: 100%
        .lvl
            width: 100%

.underLine
    position: relative
    &:after,&::before
        content: ""
        border-radius: 20px
        position: absolute
        bottom: -12px
        height: 5px
    &:after
        right: 0
        width: 24px
        background: transparent linear-gradient(180deg,hsl(356.8, 92.6%, 68.2%) 0%,hsl(339.5, 67.3%, 38.4%) 100%)
    &:before
        right: 32px
        width: 55px
        background-color: #dbdbdb

.tableCon
    margin-block: 24px 32px
    th
        border-block: 1px solid #333
        padding-block: 16px
        margin-bottom: 8px
        i
            margin-inline: 8px
    table
        width: 100%
        border-spacing: 0px 8px
    td
        text-align: center
        padding: 8px
    tbody
        border-spacing: 0px 20px
        border-top: 8px red solid
        td
            border: 1px #999 solid
            &:first-child
                border-top-left-radius: 8px
                border-bottom-left-radius: 8px
            &:last-child
                border-top-right-radius: 8px
                border-bottom-right-radius: 8px
        .fa-star
            color: #ffc70c
.t
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    align-items: center
    column-gap: 8px
thead .t
    justify-content: center
svg.l3
    fill: #B87333
svg.l2
    fill: #C0C0C0
svg.l1
    fill: var(--gold)

html body
    @media (max-width:740px)
        .basics
            height: 80px
            column-gap: 8px
        .h2
            font-size: 20px
        .row .col .bds .bd
            padding: 12px
            font-size: 16px
        .basics .order> .h2
            top: 10px
            font-size: 18px
        .r1 .col
            padding: 8px
            row-gap: 8px
    @media (max-width:450px)
        .basics
            height: 70px
        .prs .prsInfo
            .h2
                margin-block: 1px 4px
                font-size: 16px
            .h9
                font-size: 12px
            .job
                font-size: 12px
    @media (max-width:520px)
        .row
            grid: repeat(auto-fit, minmax(250px, 1fr))/repeat(auto-fit, minmax(150px, 1fr))
            row-gap: 32px
            column-gap: 16px
            .col
                height: 250px
                .bds .bd
                    padding: 4px
                    padding-right: 8px
        .tableCon th
            font-size: 16px
        .tableCon td
            font-size: 14px
            padding: 4px
        .basics
            height: 60px

.editPr
    @extend %Center-Fixed
    background-color: white 
    box-shadow: var(--4db-Umbra) , var(--4db-penumbra)
    padding: 16px 8px
    min-width: 300px
    border-radius: 12px
    @extend %F-between
    flex-flow: column nowrap
    display: none
    img 
        height: 100px
        width: 100px
        cursor: pointer
        border-radius: 50%
        border: 2px double #777
    .btns
        @extend %F-evenly
        flex-flow: row nowrap
        column-gap: 16px
        width: 100%
        button 
            border: none
            padding-block: 8px
            width: 96px
            border-radius: 12px
            margin-top: 32px
        #yBtn
            background-color: var(--good-green)
            color: white

    

// f

    // ds

// fds 

// fds 
