:root {
  /* 1db */
  --1db-ambient: 0 1px 3px rgba(0, 0, 0, 0.2);
  --1db-penumbra: 0 2px 2px rgba(0, 0, 0, 0.12);
  --1db-umbra: 0 0 2px rgba(0, 0, 0, 0.14);
  /* 2db */
  --2db-ambient: 0 1px 5px rgba(0, 0, 0, 0.2);
  --2db-penumbra: 0 3px 4px rgba(0, 0, 0, 0.12);
  --2db-umbra: 0 0 4px rgba(0, 0, 0, 0.14);
  /* 4db  */
  --4db-penumbra: 0px 4px 5px rgba(0, 0, 0, 0.12);
  --4db-Umbra: 0 2px 4px rgba(0, 0, 0, 0.14);
  --cairo: "Cairo", sans-serif;
  --display: "Lemonada", cursive;
  --tajawal: "Tajawal", sans-serif;
  --primary: #D61F34;
  --blue-dark: #243b64;
  --blue-dark-80: hsl(218, 87%, 17%,80%);
  --gray-7: #777;
  --dark-red: #974964;
  --good-green: #0f9d58;
  --gold:#FFC70C;
  --gold-80: rgba(255, 198, 12, 0.2);
  --fast: .5s;
  --glo: hsl(356.4, 90.4%, 67.5%);
  --red-shadow: 0 10px 35px 0 rgba(246,97,106,.5019607843137255);
  --dblue-shadow: 0 10px 35px 0 rgba(36,59,100,.30196078431372547);
  --red-gradiant: linear-gradient(180deg,hsl(356.8, 92.6%, 68.2%) 0%,hsl(339.5, 67.3%, 38.4%) 100%);
}

.row .col .circle span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.basics, .basics .prs, .row .col, .row .col .list, .row .col .bds .bd, .row .col .num, .editPr, header.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editPr .btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.editPr {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 599px) {
  .container {
    margin-inline: 16px;
  }
}
@media (min-width: 600px) and (max-width: 904px) {
  .container {
    margin-inline: 32px;
  }
}
@media (min-width: 905px) and (max-width: 1239px) {
  .container {
    width: 840px;
    margin-inline: auto;
  }
}
@media (min-width: 1240px) and (max-width: 1439px) {
  .container {
    margin-inline: 200px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1140px;
    margin-inline: auto;
  }
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html, body {
  font-family: var(--tajawal);
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

figure {
  margin: 0;
}

header.top {
  box-shadow: var(--4db-penumbra);
}
header.top ul li ul {
  transition: height 1s, opacity 1s;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  opacity: 0.3;
}
header.top .container {
  height: 56px;
}
header.top .container .menu ul li ul.act {
  height: var(--h);
  opacity: 1;
}
header.top .container > a {
  font-size: 0;
}
header.top img {
  height: 50px;
  width: 116px;
}
header.top svg {
  max-height: 50px;
}
header.top i {
  font-size: 32px;
  cursor: pointer;
}
header.top i.fa-caret-down {
  transition: var(--fast);
  font-size: 24px;
}
header.top .menu {
  text-align: center;
}
header.top .menu #navList {
  display: flex;
  text-align: center;
  row-gap: 16px;
  font-size: 24px;
  font-family: var(--cairo);
  font-weight: 700;
}
header.top .menu #navList li a {
  white-space: nowrap;
}
header.top .menu #navList > .act a, header.top .menu #navList a:hover, header.top .menu #navList #sps a:hover {
  color: var(--primary);
}
header.top .menu #navList #sps a {
  color: black;
  white-space: nowrap;
}
header.top .search {
  line-height: 40px;
  margin-inline: 8px;
  background: #E1EEF5;
  border: 1px solid #AAAAAA;
  position: relative;
  height: 40px;
  min-width: 156px;
  border-radius: 50px;
  padding-inline: 32px 8px;
}
header.top .search [type=submit] {
  position: absolute;
  top: 7px;
  left: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}
header.top .search [type=submit] i {
  color: var(--primary);
  font-size: 20px;
}
header.top .search [type=search] {
  outline: none;
  font-size: 14px;
  text-align: right;
  font-family: var(--tajawal);
  border: none;
  height: 100%;
  width: 100%;
  background: transparent;
}

@media (max-width: 749px) {
  header.top .menu {
    z-index: 3;
    opacity: 0;
    -webkit-animation: fadeIn forwards var(--fast);
            animation: fadeIn forwards var(--fast);
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    row-gap: 30px;
  }
  header.top .menu #navList {
    flex-flow: column nowrap;
    padding-bottom: 40px;
  }
  header.top .menu #navList a {
    transition: color var(--fast);
    color: var(--blue-dark);
  }
  header.top .menu .fa-xmark {
    font-size: 40px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    border: var(--blue-dark) 2px solid;
    color: var(--blue-dark);
  }
}
@media (min-width: 750px) {
  header.top .fa-xmark, header.top .fa-bars {
    display: none;
  }
  header.top .menu {
    display: block;
  }
  header.top .menu #navList {
    -moz-column-gap: var(--nav-c-g);
         column-gap: var(--nav-c-g);
    flex-flow: row nowrap;
    font-size: var(--nav-f-s);
  }
  header.top .menu #navList > li {
    position: relative;
  }
  header.top .menu #navList #sps {
    background-color: white;
    box-shadow: var(--4db-penumbra), var(--4db-Umbra);
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 12px 12px;
  }
  header.top .menu #navList #sps li {
    padding-inline: 16px;
  }
  header.top .menu #navList a {
    transition: color var(--fast);
    color: var(--blue-dark);
    height: 56px;
    display: inline-block;
    line-height: 56px;
    transition: border-color var(--fast);
    border-bottom: 3px solid transparent;
  }
  header.top .menu #navList a:hover {
    border-bottom-color: var(--primary);
  }
}
.logo-black .tx-fr {
  fill: #333;
}
.logo-black .tx-ar {
  fill: black;
}

.logo-white .tx-fr {
  fill: #eee;
}
.logo-white .tx-ar {
  fill: #fff;
}

footer img {
  width: 30%;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#hate {
  stroke: #000;
  transform-origin: 41% 27%;
  -webkit-animation: rotate infinite 7s 1s both;
          animation: rotate infinite 7s 1s both;
}

footer {
  position: relative;
  background-image: url("../tools/images/home/footer.svg");
  height: calc(300px + 9vw);
  margin-top: 200px;
  padding-bottom: 50px;
  padding-top: 32px;
}
footer .container {
  height: 100%;
}
footer .wrapper {
  height: 100%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-flow: row wrap;
}
footer #cp {
  padding: 16px;
  text-align: center;
  width: 100%;
  border-top: 2px rgba(0, 0, 0, 0.2666666667) solid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
}
footer svg {
  min-width: 200px;
}
footer .socialMedia {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 24px;
}
footer .socialMedia i {
  cursor: pointer;
  height: 48px;
  width: 48px;
  box-shadow: var(--4db-Umbra), var(--4db-penumbra);
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-image: var(--red-gradiant);
}
footer .socialMedia i:hover {
  background: var(--blue-dark);
}

:root {
  --nav-f-s: 14px;
  --nav-c-g: 24px;
}

* {
  direction: ltr;
}

html body header.top .menu #navList #list-sps {
  padding-inline: 8px;
}
html body header.top .menu #navList #list-sps:hover {
  color: #0D652D;
  background-color: #E9F6ED;
  border-bottom-color: #0D652D;
}
html body header.top .menu #navList #list-sps:hover i.fa-plus {
  background-color: white;
}
html body header.top .menu #navList #list-sps i.fa-plus {
  transition: background-color var(--fast);
  font-size: 20px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #E9F6ED;
  text-align: center;
  line-height: 32px;
  color: #0D652D;
}

.basics {
  margin-block: 32px;
  flex-flow: row nowrap;
  height: 100px;
}
.basics img {
  height: 100%;
}
.basics .order {
  height: 100%;
  position: relative;
}
.basics .order .h2 {
  position: absolute;
  left: 50%;
  top: 20px;
  color: white;
  transform: translateX(-50%);
}
.basics .prs {
  height: 100%;
  text-align: right;
  -moz-column-gap: 16px;
       column-gap: 16px;
  flex-flow: row nowrap;
}
.basics .prs .personalImg {
  position: relative;
  height: 100%;
}
.basics .prs .personalImg .fa-pen-to-square {
  position: absolute;
  top: -8px;
  cursor: pointer;
  right: -8px;
}
.basics .prs .personalImg img {
  box-shadow: var(--2db-ambient), var(--2db-penumbra), var(--2db-umbra);
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-size: cover;
}

.h2 {
  font-size: 22px;
  margin-block: 8px;
  font-weight: 700;
  display: block;
}

.h9 {
  font-size: 14px;
  color: #999;
}

.row {
  grid: repeat(auto-fit, minmax(300px, 1fr))/repeat(auto-fit, minmax(220px, 1fr));
  display: grid;
  row-gap: 32px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-block: 64px 32px;
}
.row .col {
  height: 300px;
  line-height: 1.3;
  font-size: 23px;
  width: 100%;
  text-align: center;
  flex-flow: column;
  row-gap: 16px;
  padding: 16px 8px;
  border-radius: 12px;
  border: 1px solid #eee;
  box-shadow: var(--2db-ambient), var(--2db-penumbra), var(--2db-umbra);
}
.row .col .list {
  flex-flow: column nowrap;
  height: 100%;
}
.row .col .circle {
  width: 100%;
  max-height: 70%;
  position: relative;
}
.row .col .circle span {
  font-size: 32px;
  top: 55%;
}
.row .col .bds {
  height: 100%;
  text-align: right;
  width: 100%;
}
.row .col .bds .bd {
  box-shadow: var(--1db-ambient), var(--1db-penumbra);
  padding: 16px 32px;
  border-radius: 16px;
  font-size: 18px;
  margin-bottom: 8px;
}
.row .col .bds .glodenBd {
  background-color: rgba(255, 199, 12, 0.15);
  color: #FFC70C;
  border: #FFC70C 2px solid;
}
.row .col .bds .purple {
  background-color: rgba(128, 0, 128, 0.15);
  color: rgb(128, 0, 128);
  border: rgb(128, 0, 128) 2px solid;
}
.row .col .bds .blue {
  background-color: rgba(0, 120, 215, 0.15);
  color: rgb(0, 120, 215);
  border: rgb(0, 120, 215) 2px solid;
}
.row .col .num {
  font-size: 12px;
  width: 100%;
}
.row .col progress {
  width: 100%;
}
.row .col .lvl {
  width: 100%;
}

.underLine {
  position: relative;
}
.underLine:after, .underLine::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  bottom: -12px;
  height: 5px;
}
.underLine:after {
  right: 0;
  width: 24px;
  background: transparent linear-gradient(180deg, hsl(356.8deg, 92.6%, 68.2%) 0%, hsl(339.5deg, 67.3%, 38.4%) 100%);
}
.underLine:before {
  right: 32px;
  width: 55px;
  background-color: #dbdbdb;
}

.tableCon {
  margin-block: 24px 32px;
}
.tableCon th {
  border-block: 1px solid #333;
  padding-block: 16px;
  margin-bottom: 8px;
}
.tableCon th i {
  margin-inline: 8px;
}
.tableCon table {
  width: 100%;
  border-spacing: 0px 8px;
}
.tableCon td {
  text-align: center;
  padding: 8px;
}
.tableCon tbody {
  border-spacing: 0px 20px;
  border-top: 8px red solid;
}
.tableCon tbody td {
  border: 1px #999 solid;
}
.tableCon tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tableCon tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tableCon tbody .fa-star {
  color: #ffc70c;
}

.t {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

thead .t {
  justify-content: center;
}

svg.l3 {
  fill: #B87333;
}

svg.l2 {
  fill: #C0C0C0;
}

svg.l1 {
  fill: var(--gold);
}

@media (max-width: 740px) {
  html body .basics {
    height: 80px;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  html body .h2 {
    font-size: 20px;
  }
  html body .row .col .bds .bd {
    padding: 12px;
    font-size: 16px;
  }
  html body .basics .order > .h2 {
    top: 10px;
    font-size: 18px;
  }
  html body .r1 .col {
    padding: 8px;
    row-gap: 8px;
  }
}
@media (max-width: 450px) {
  html body .basics {
    height: 70px;
  }
  html body .prs .prsInfo .h2 {
    margin-block: 1px 4px;
    font-size: 16px;
  }
  html body .prs .prsInfo .h9 {
    font-size: 12px;
  }
  html body .prs .prsInfo .job {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  html body .row {
    grid: repeat(auto-fit, minmax(250px, 1fr))/repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  html body .row .col {
    height: 250px;
  }
  html body .row .col .bds .bd {
    padding: 4px;
    padding-right: 8px;
  }
  html body .tableCon th {
    font-size: 16px;
  }
  html body .tableCon td {
    font-size: 14px;
    padding: 4px;
  }
  html body .basics {
    height: 60px;
  }
}

.editPr {
  background-color: white;
  box-shadow: var(--4db-Umbra), var(--4db-penumbra);
  padding: 16px 8px;
  min-width: 300px;
  border-radius: 12px;
  flex-flow: column nowrap;
  display: none;
}
.editPr img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px double #777;
}
.editPr .btns {
  flex-flow: row nowrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  width: 100%;
}
.editPr .btns button {
  border: none;
  padding-block: 8px;
  width: 96px;
  border-radius: 12px;
  margin-top: 32px;
}
.editPr .btns #yBtn {
  background-color: var(--good-green);
  color: white;
}/*# sourceMappingURL=style.css.map */