:root {
  /* 1db */
  --1db-ambient: 0 1px 3px rgba(0, 0, 0, 0.2);
  --1db-penumbra: 0 2px 2px rgba(0, 0, 0, 0.12);
  --1db-umbra: 0 0 2px rgba(0, 0, 0, 0.14);
  /* 2db */
  --2db-ambient: 0 1px 5px rgba(0, 0, 0, 0.2);
  --2db-penumbra: 0 3px 4px rgba(0, 0, 0, 0.12);
  --2db-umbra: 0 0 4px rgba(0, 0, 0, 0.14);
  /* 4db  */
  --4db-penumbra: 0px 4px 5px rgba(0, 0, 0, 0.12);
  --4db-Umbra: 0 2px 4px rgba(0, 0, 0, 0.14);
  --cairo: "Cairo", sans-serif;
  --display: "Lemonada", cursive;
  --tajawal: "Tajawal", sans-serif;
  --primary: #D61F34;
  --blue-dark: #243b64;
  --blue-dark-80: hsl(218, 87%, 17%,80%);
  --gray-7: #777;
  --dark-red: #974964;
  --good-green: #0f9d58;
  --gold:#FFC70C;
  --gold-80: rgba(255, 198, 12, 0.2);
  --fast: .5s;
  --glo: hsl(356.4, 90.4%, 67.5%);
  --red-shadow: 0 10px 35px 0 rgba(246,97,106,.5019607843137255);
  --dblue-shadow: 0 10px 35px 0 rgba(36,59,100,.30196078431372547);
  --red-gradiant: linear-gradient(180deg,hsl(356.8, 92.6%, 68.2%) 0%,hsl(339.5, 67.3%, 38.4%) 100%);
}

.searchName [type=submit] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.filter, .filter .i, header.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 599px) {
  .container {
    margin-inline: 16px;
  }
}
@media (min-width: 600px) and (max-width: 904px) {
  .container {
    margin-inline: 32px;
  }
}
@media (min-width: 905px) and (max-width: 1239px) {
  .container {
    width: 840px;
    margin-inline: auto;
  }
}
@media (min-width: 1240px) and (max-width: 1439px) {
  .container {
    margin-inline: 200px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1140px;
    margin-inline: auto;
  }
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html, body {
  font-family: var(--tajawal);
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

figure {
  margin: 0;
}

header.top {
  box-shadow: var(--4db-penumbra);
}
header.top ul li ul {
  transition: height 1s, opacity 1s;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  opacity: 0.3;
}
header.top .container {
  height: 56px;
}
header.top .container .menu ul li ul.act {
  height: var(--h);
  opacity: 1;
}
header.top .container > a {
  font-size: 0;
}
header.top img {
  height: 50px;
  width: 116px;
}
header.top svg {
  max-height: 50px;
}
header.top i {
  font-size: 32px;
  cursor: pointer;
}
header.top i.fa-caret-down {
  transition: var(--fast);
  font-size: 24px;
}
header.top .menu {
  text-align: center;
}
header.top .menu #navList {
  display: flex;
  text-align: center;
  row-gap: 16px;
  font-size: 24px;
  font-family: var(--cairo);
  font-weight: 700;
}
header.top .menu #navList li a {
  white-space: nowrap;
}
header.top .menu #navList > .act a, header.top .menu #navList a:hover, header.top .menu #navList #sps a:hover {
  color: var(--primary);
}
header.top .menu #navList #sps a {
  color: black;
  white-space: nowrap;
}
header.top .search {
  line-height: 40px;
  margin-inline: 8px;
  background: #E1EEF5;
  border: 1px solid #AAAAAA;
  position: relative;
  height: 40px;
  min-width: 156px;
  border-radius: 50px;
  padding-inline: 32px 8px;
}
header.top .search [type=submit] {
  position: absolute;
  top: 7px;
  left: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}
header.top .search [type=submit] i {
  color: var(--primary);
  font-size: 20px;
}
header.top .search [type=search] {
  outline: none;
  font-size: 14px;
  text-align: right;
  font-family: var(--tajawal);
  border: none;
  height: 100%;
  width: 100%;
  background: transparent;
}

@media (max-width: 749px) {
  header.top .menu {
    z-index: 3;
    opacity: 0;
    -webkit-animation: fadeIn forwards var(--fast);
            animation: fadeIn forwards var(--fast);
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    row-gap: 30px;
  }
  header.top .menu #navList {
    flex-flow: column nowrap;
    padding-bottom: 40px;
  }
  header.top .menu #navList a {
    transition: color var(--fast);
    color: var(--blue-dark);
  }
  header.top .menu .fa-xmark {
    font-size: 40px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    border: var(--blue-dark) 2px solid;
    color: var(--blue-dark);
  }
}
@media (min-width: 750px) {
  header.top .fa-xmark, header.top .fa-bars {
    display: none;
  }
  header.top .menu {
    display: block;
  }
  header.top .menu #navList {
    -moz-column-gap: var(--nav-c-g);
         column-gap: var(--nav-c-g);
    flex-flow: row nowrap;
    font-size: var(--nav-f-s);
  }
  header.top .menu #navList > li {
    position: relative;
  }
  header.top .menu #navList #sps {
    background-color: white;
    box-shadow: var(--4db-penumbra), var(--4db-Umbra);
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 12px 12px;
  }
  header.top .menu #navList #sps li {
    padding-inline: 16px;
  }
  header.top .menu #navList a {
    transition: color var(--fast);
    color: var(--blue-dark);
    height: 56px;
    display: inline-block;
    line-height: 56px;
    transition: border-color var(--fast);
    border-bottom: 3px solid transparent;
  }
  header.top .menu #navList a:hover {
    border-bottom-color: var(--primary);
  }
}
.logo-black .tx-fr {
  fill: #333;
}
.logo-black .tx-ar {
  fill: black;
}

.logo-white .tx-fr {
  fill: #eee;
}
.logo-white .tx-ar {
  fill: #fff;
}

footer img {
  width: 30%;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#hate {
  stroke: #000;
  transform-origin: 41% 27%;
  -webkit-animation: rotate infinite 7s 1s both;
          animation: rotate infinite 7s 1s both;
}

footer {
  position: relative;
  background-image: url("../tools/images/home/footer.svg");
  height: calc(300px + 9vw);
  margin-top: 200px;
  padding-bottom: 50px;
  padding-top: 32px;
}
footer .container {
  height: 100%;
}
footer .wrapper {
  height: 100%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-flow: row wrap;
}
footer #cp {
  padding: 16px;
  text-align: center;
  width: 100%;
  border-top: 2px rgba(0, 0, 0, 0.2666666667) solid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
}
footer svg {
  min-width: 200px;
}
footer .socialMedia {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 24px;
}
footer .socialMedia i {
  cursor: pointer;
  height: 48px;
  width: 48px;
  box-shadow: var(--4db-Umbra), var(--4db-penumbra);
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-image: var(--red-gradiant);
}
footer .socialMedia i:hover {
  background: var(--blue-dark);
}

:root {
  --nav-f-s: 14px;
  --nav-c-g: 24px;
}

body {
  min-height: 100vh;
  background: url("../tools/images/forAll/banner.png") no-repeat 37% -190px;
}

header.top .fa-bars {
  color: white;
}
@media (min-width: 750px) {
  header.top .menu #navList a:hover {
    color: white;
  }
  header.top .menu > #navList li.act a {
    border-bottom-color: white;
  }
  header.top .menu > #navList li a, header.top .menu > #navList li.act a {
    color: white;
  }
}

h1 {
  color: white;
  font-size: 44px;
  font-family: var(--display);
  text-align: center;
  margin-bottom: 100px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
.filter {
  padding: 8px 16px;
  box-shadow: var(--4db-penumbra), var(--4db-Umbra);
  flex-flow: row-reverse nowrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--tajawal);
}
.filter [type=submit] {
  background-color: var(--primary);
  padding: 8px 16px;
  color: white;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.filter [type=submit]:hover {
  filter: saturate(1.2);
}
.filter .i {
  -moz-column-gap: 8px;
       column-gap: 8px;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 175px;
  padding: 8px 16px;
  border-radius: 8px;
  flex-grow: 0;
  flex-flow: row nowrap;
  background-color: #eee;
}
.filter .i [type=checkbox]:checked + i {
  transform: rotate(180deg);
}
.filter .i i {
  font-size: 20px;
  transition: var(--fast);
  color: var(--primary);
}
.filter .i input, .filter .i select {
  padding: 8px;
  border-radius: 8px;
  outline-color: var(--primary);
  width: 50px;
  font-size: 14px;
  border: none;
  background-color: white;
}
.filter .i input:focus-visible, .filter .i select:focus-visible {
  outline: 2px solid var(--primary);
}
.filter .i select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  padding-right: 0;
}
.filter [for=incrementAv] {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (min-Width: 700px) and (max-Width: 850px) {
  body form.filter {
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding-inline: 8px;
  }
  body form.filter .i {
    padding-inline: 8px;
    -moz-column-gap: 4px;
         column-gap: 4px;
    font-size: 14px;
  }
  body form.filter .i input, body form.filter .i select {
    font-size: 12px;
  }
}
@media (max-Width: 700px) {
  h1 {
    font-size: 39px;
  }

  body form.filter {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    display: grid;
    grid: auto auto/auto auto;
    justify-items: self-end;
    row-gap: 16px;
  }
  body form.filter .w {
    justify-content: center;
  }
  body form.filter .w select {
    width: 100%;
  }
  body form.filter .i {
    height: 100%;
    width: 100%;
    text-align: right;
  }
  body form.filter [type=submit] {
    width: min(70%, 200px);
    margin: auto;
    grid-column: span 2;
  }
}
@media (max-width: 390px) {
  body form.filter {
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding-inline: 8px;
  }
  body form.filter .i {
    padding-inline: 8px;
    -moz-column-gap: 4px;
         column-gap: 4px;
    font-size: 14px;
  }
  body form.filter .i input, body form.filter .i select {
    font-size: 12px;
  }
}
@media (min-width: 750px) {
  header .menu #navList a:hover {
    border-bottom-color: white;
  }
}
.showMore {
  display: flex;
  flex-flow: row nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: 20px;
  color: #999;
}
.showMore li {
  color: #222;
  cursor: pointer;
  padding: 2px 8px;
}
.showMore li.act {
  color: var(--primary);
}
.showMore li:not(:last-child) {
  border-right: 1px solid rgba(119, 119, 119, 0.4666666667);
}
.showMore li:hover {
  color: var(--dark-red);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
.searchName {
  margin: 32px auto 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #E1EEF5;
  position: relative;
  box-shadow: var(--4db-Umbra), var(--4db-penumbra);
  border-radius: 50px;
  padding: 16px 16px 16px 80px;
}
.searchName input {
  border: none;
}
.searchName [type=search] {
  text-align: right;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}
.searchName [type=submit] {
  left: 12px;
  border-radius: 50px;
  padding: 6px 14px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  background-color: var(--primary);
  box-shadow: var(--2db-ambient), var(--2db-penumbra), var(--2db-umbra);
}
.searchName [type=submit]:hover {
  filter: saturate(0.9);
}

table {
  border-collapse: collapse;
}

.mainTAble {
  border: 1px #bbb solid;
  direction: rtl;
  margin-block: 32px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.mainTAble .gInfo {
  display: none;
  background-color: #f7f7f7;
}
.mainTAble .gInfo td {
  border: none;
}
.mainTAble .gInfo td table td {
  border: 1px solid #000;
}
.mainTAble .gInfo td table td:nth-of-type(1) {
  background-color: var(--good-green);
  color: white;
}
.mainTAble .gInfo td table td:nth-of-type(2) {
  background-color: white;
}
.mainTAble tr.showMe {
  display: table-row;
}
.mainTAble thead th {
  padding: 8px 4px;
  background-color: var(--blue-dark);
  color: white;
  border: 1px white solid;
}
.mainTAble [colspan="3"] {
  background-color: hsl(218.4deg, 47.1%, 38%);
}
.mainTAble td {
  border: 1px solid #bbb;
  padding: 2px;
  text-align: center;
}
.mainTAble td a {
  color: blue;
  text-decoration: underline;
}
.mainTAble td.show i {
  background-color: white;
  padding: 3px;
  font-size: 14px;
  border-radius: 5px;
  color: var(--good-green);
  border: 1px var(--good-green) solid;
  cursor: pointer;
}
.mainTAble tbody .r1 {
  background-color: rgba(0, 49, 133, 0.15);
}
.mainTAble tr td:nth-of-type(3n+5) {
  background-color: rgba(214, 31, 52, 0.7);
}
.mainTAble tr td:nth-of-type(3n+6) {
  background-color: rgba(214, 31, 52, 0.4);
}/*# sourceMappingURL=style.css.map */