@charset "UTF-8";
:root {
  /* 1db */
  --1db-ambient: 0 1px 3px rgba(0, 0, 0, 0.2);
  --1db-penumbra: 0 2px 2px rgba(0, 0, 0, 0.12);
  --1db-umbra: 0 0 2px rgba(0, 0, 0, 0.14);
  /* 2db */
  --2db-ambient: 0 1px 5px rgba(0, 0, 0, 0.2);
  --2db-penumbra: 0 3px 4px rgba(0, 0, 0, 0.12);
  --2db-umbra: 0 0 4px rgba(0, 0, 0, 0.14);
  /* 4db  */
  --4db-penumbra: 0px 4px 5px rgba(0, 0, 0, 0.12);
  --4db-Umbra: 0 2px 4px rgba(0, 0, 0, 0.14);
  --cairo: "Cairo", sans-serif;
  --display: "Lemonada", cursive;
  --tajawal: "Tajawal", sans-serif;
  --primary: #D61F34;
  --blue-dark: #243b64;
  --blue-dark-80: hsl(218, 87%, 17%,80%);
  --gray-7: #777;
  --dark-red: #974964;
  --good-green: #0f9d58;
  --gold:#FFC70C;
  --gold-80: rgba(255, 198, 12, 0.2);
  --fast: .5s;
  --glo: hsl(356.4, 90.4%, 67.5%);
  --red-shadow: 0 10px 35px 0 rgba(246,97,106,.5019607843137255);
  --dblue-shadow: 0 10px 35px 0 rgba(36,59,100,.30196078431372547);
  --red-gradiant: linear-gradient(180deg,hsl(356.8, 92.6%, 68.2%) 0%,hsl(339.5, 67.3%, 38.4%) 100%);
}

.content ul li:before, aside .s-title::before, .account form .inputs div i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.account .choose {
  display: flex;
  justify-content: center;
  align-items: center;
}

main, .rate .faces, header.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside .icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.account {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 599px) {
  .container {
    margin-inline: 16px;
  }
}
@media (min-width: 600px) and (max-width: 904px) {
  .container {
    margin-inline: 32px;
  }
}
@media (min-width: 905px) and (max-width: 1239px) {
  .container {
    width: 840px;
    margin-inline: auto;
  }
}
@media (min-width: 1240px) and (max-width: 1439px) {
  .container {
    margin-inline: 200px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1140px;
    margin-inline: auto;
  }
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

figure {
  margin: 0;
}

header.top {
  box-shadow: var(--4db-penumbra);
}
header.top ul li ul {
  transition: height 1s, opacity 1s;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  opacity: 0.3;
}
header.top .container {
  height: 56px;
}
header.top .container .menu ul li ul.act {
  height: var(--h);
  opacity: 1;
}
header.top .container > a {
  font-size: 0;
}
header.top img {
  height: 50px;
  width: 116px;
}
header.top svg {
  max-height: 50px;
}
header.top i {
  font-size: 32px;
  cursor: pointer;
}
header.top i.fa-caret-down {
  transition: var(--fast);
  font-size: 24px;
}
header.top .menu {
  text-align: center;
}
header.top .menu #navList {
  display: flex;
  text-align: center;
  row-gap: 16px;
  font-size: 24px;
  font-family: var(--cairo);
  font-weight: 700;
}
header.top .menu #navList li a {
  white-space: nowrap;
}
header.top .menu #navList > .act a, header.top .menu #navList a:hover, header.top .menu #navList #sps a:hover {
  color: var(--primary);
}
header.top .menu #navList #sps a {
  color: black;
  white-space: nowrap;
}
header.top .search {
  line-height: 40px;
  margin-inline: 8px;
  background: #E1EEF5;
  border: 1px solid #AAAAAA;
  position: relative;
  height: 40px;
  min-width: 156px;
  border-radius: 50px;
  padding-inline: 32px 8px;
}
header.top .search [type=submit] {
  position: absolute;
  top: 7px;
  left: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}
header.top .search [type=submit] i {
  color: var(--primary);
  font-size: 20px;
}
header.top .search [type=search] {
  outline: none;
  font-size: 14px;
  text-align: right;
  font-family: var(--tajawal);
  border: none;
  height: 100%;
  width: 100%;
  background: transparent;
}

@media (max-width: 749px) {
  header.top .menu {
    z-index: 3;
    opacity: 0;
    -webkit-animation: fadeIn forwards var(--fast);
            animation: fadeIn forwards var(--fast);
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    row-gap: 30px;
  }
  header.top .menu #navList {
    flex-flow: column nowrap;
    padding-bottom: 40px;
  }
  header.top .menu #navList a {
    transition: color var(--fast);
    color: var(--blue-dark);
  }
  header.top .menu .fa-xmark {
    font-size: 40px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    border: var(--blue-dark) 2px solid;
    color: var(--blue-dark);
  }
}
@media (min-width: 750px) {
  header.top .fa-xmark, header.top .fa-bars {
    display: none;
  }
  header.top .menu {
    display: block;
  }
  header.top .menu #navList {
    -moz-column-gap: var(--nav-c-g);
         column-gap: var(--nav-c-g);
    flex-flow: row nowrap;
    font-size: var(--nav-f-s);
  }
  header.top .menu #navList > li {
    position: relative;
  }
  header.top .menu #navList #sps {
    background-color: white;
    box-shadow: var(--4db-penumbra), var(--4db-Umbra);
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px #eee solid;
    border-radius: 0 0 12px 12px;
  }
  header.top .menu #navList #sps li {
    padding-inline: 16px;
  }
  header.top .menu #navList a {
    transition: color var(--fast);
    color: var(--blue-dark);
    height: 56px;
    display: inline-block;
    line-height: 56px;
    transition: border-color var(--fast);
    border-bottom: 3px solid transparent;
  }
  header.top .menu #navList a:hover {
    border-bottom-color: var(--primary);
  }
}
.logo-black .tx-fr {
  fill: #333;
}
.logo-black .tx-ar {
  fill: black;
}

.logo-white .tx-fr {
  fill: #eee;
}
.logo-white .tx-ar {
  fill: #fff;
}

footer img {
  width: 30%;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#hate {
  stroke: #000;
  transform-origin: 41% 27%;
  -webkit-animation: rotate infinite 7s 1s both;
          animation: rotate infinite 7s 1s both;
}

footer {
  position: relative;
  background-image: url("../tools/images/home/footer.svg");
  height: calc(300px + 9vw);
  margin-top: 200px;
  padding-bottom: 50px;
  padding-top: 32px;
}
footer .container {
  height: 100%;
}
footer .wrapper {
  height: 100%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-flow: row wrap;
}
footer #cp {
  padding: 16px;
  text-align: center;
  width: 100%;
  border-top: 2px rgba(0, 0, 0, 0.2666666667) solid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
}
footer svg {
  min-width: 200px;
}
footer .socialMedia {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 24px;
}
footer .socialMedia i {
  cursor: pointer;
  height: 48px;
  width: 48px;
  box-shadow: var(--4db-Umbra), var(--4db-penumbra);
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background-image: var(--red-gradiant);
}
footer .socialMedia i:hover {
  background: var(--blue-dark);
}

:root {
  --nav-f-s: 14px;
  --nav-c-g: 24px;
}

body {
  font-family: var(--tajawal);
  text-align: right;
  background-color: #F0F2F5;
}
body p, body .content li {
  line-height: 1.6;
}
body header.top {
  background-color: white;
}

main {
  margin-top: 128px;
  flex-flow: row wrap;
  align-items: flex-start;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

article {
  position: relative;
  width: calc(100% - 296px);
  min-height: 100vh;
  margin-bottom: 16px;
}
article header {
  box-shadow: var(--1db-ambient);
  padding: 32px 16px;
  border-radius: 12px;
  background-color: white;
}
article header h1 {
  margin-block: 0 8px;
  font-size: 32px;
  font-family: var(--cairo);
}
article header .date {
  font-size: 14px;
  direction: rtl;
  display: flex;
  flex-flow: row;
  color: #666;
}
article header .date .auth {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 2px solid rgba(153, 153, 153, 0.6);
}
article header figure, article header img {
  width: 100%;
}
article header img {
  box-shadow: var(--2db-penumbra), var(--2db-ambient), var(--2db-umbra);
  border-radius: 12px;
  margin-block: 16px;
}
article header p {
  color: #526D7A;
  font-size: 22px;
}
article header details {
  box-shadow: var(--1db-ambient), var(--1db-umbra);
  border-block: 1px solid #bbb;
  padding: 12px 8px;
  border-radius: 12px;
}
article header details summary {
  cursor: pointer;
  font-size: 20px;
  color: var(--primary);
  list-style: none;
  position: relative;
}
article header details[open] summary::after {
  transform: translateY(-53%) rotate(270deg);
}
article header details summary::before, article header details summary::after {
  top: 50%;
  position: absolute;
}
article header details summary::before {
  content: "";
  background-color: #f0f2f5;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transform: translateY(-51%);
  left: 10px;
  border: var(--primary) 1px solid;
}
article header details summary::after {
  content: "›";
  left: 20px;
  color: var(--primary);
  font-size: 32px;
  font-family: sans-serif;
  transform: translateY(-53%) rotate(90deg);
  transform-origin: 50% 55%;
}
article header ol {
  margin-top: 8px;
  direction: rtl;
  counter-reset: list;
}
article header li a {
  background-color: #e8e7e7;
  margin-block: 4px;
  padding: 4px;
  counter-increment: list;
  width: 100%;
  display: inline-block;
  transition: background-color 0.1s;
  border-radius: 4px;
}
article header li a::before {
  margin-inline: 4px 6px;
  content: counter(list) ".";
}
article header li a:hover {
  text-decoration: underline;
  background-color: #eee;
}
article .path {
  display: flex;
  flex-flow: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  position: absolute;
  bottom: calc(100% + 8px);
  right: 8px;
  font-family: var(--cairo);
}
article .path > * {
  line-height: 26px;
}
article .path a {
  color: var(--blue-dark);
}

@media (max-width: 599px) {
  .container2 {
    margin-inline: 16px;
  }
}
@media (min-width: 600px) and (max-width: 904px) {
  .container2 {
    margin-inline: 32px;
  }
}
@media (min-width: 905px) and (max-width: 1000px) {
  .container2 {
    width: 840px;
    margin-inline: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .container2 {
    width: 950px;
    margin-inline: auto;
  }
}
@media (min-width: 1400px) {
  .container2 {
    width: 1300px;
    margin-inline: auto;
  }
}

.content h2 {
  margin-block: 16px;
}
.content ul li {
  position: relative;
  padding-right: 16px;
}
.content ul li:before {
  content: "";
  right: 0px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary);
}
.content figure {
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
.content figure img {
  width: 100%;
  box-shadow: var(--2db-penumbra), var(--2db-ambient), var(--2db-umbra);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 50%;
  border-radius: 12px;
}
.content ol {
  counter-reset: on;
}
.content ol li {
  counter-increment: on;
}
.content ol li::before {
  margin-left: 4px;
  content: counter(on) ".";
  color: var(--primary);
  font-weight: 600;
}

aside {
  width: 280px;
  overflow: hidden;
}
aside .title-a-r {
  padding-left: 4px;
}
aside .title-a-r::before {
  right: 100%;
}
aside .title-a-l {
  margin-top: -50px;
  padding-right: 4px;
  float: left;
}
aside .title-a-l::before {
  left: 100%;
}
aside .s-title {
  font-family: "Cairo";
  font-size: 18px;
  position: relative;
}
aside .s-title::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 4px;
  background-color: var(--primary);
}
aside .icons {
  flex-flow: row;
  margin-block: 16px;
}
aside .icons i {
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 26px;
  border-radius: 12px;
  color: white;
  background-color: black;
}
aside .cards {
  margin-top: 64px;
  border-radius: 12px;
  box-shadow: var(--2db-umbra);
}
aside .card {
  padding: 8px 4px;
  border-bottom: 1px #eee solid;
  overflow: hidden;
  display: flex;
  flex-flow: row;
}
aside .card:hover {
  background-color: #f9f9f9;
}
aside .card .card-t {
  font-weight: 700;
}
aside .card img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 126px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
aside .card .card-txt {
  padding-right: 4px;
}
aside .card .card-txt p {
  color: #777;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin-top: 8px;
  line-height: 16px;
  max-height: 64px;
  margin-bottom: 0;
  direction: rtl;
}

.rate > span {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: block;
}
.rate .faces {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-block: 16px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-size: 32px;
  color: var(--blue-dark-80);
}
.rate .faces i {
  cursor: pointer;
}
.rate .faces i:hover {
  color: var(--rateColor);
}
.rate .fa-heart {
  color: var(--primary);
  font-size: 48px;
  display: none;
  text-align: center;
  -webkit-animation: fadeIn_Up 1s 0.8s forwards;
          animation: fadeIn_Up 1s 0.8s forwards;
  opacity: 0;
  bottom: -16px;
  position: relative;
  margin-block: 8px;
}

@media (max-width: 850px) {
  body main {
    flex-flow: column nowrap;
  }
  body main article, body main aside, body main .comments, body main .commentInput {
    width: 100%;
  }
  body main aside .icons {
    margin-block: 4px;
  }
  body main aside .cards {
    margin-top: 48px;
  }
  body main aside .s-title::before {
    width: 100vw;
  }
  body main aside .card img {
    height: 96px;
  }
}
@-webkit-keyframes fadeIn_Up {
  from {
    opacity: 0;
    bottom: -16px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes fadeIn_Up {
  from {
    opacity: 0;
    bottom: -16px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
.h3 {
  font-family: var(--cairo);
  font-size: 22px;
  font-weight: 700;
  display: block;
  padding: 0 8px 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #aaa;
}

.fa-user-circle {
  color: var(--dark-red);
  font-size: 48px;
}

.comments {
  width: calc(100% - 296px);
}
.comments .user {
  display: flex;
  flex-flow: row;
  width: 100%;
  -moz-column-gap: 16px;
       column-gap: 16px;
  direction: rtl;
  align-items: center;
}
.comments .user .userName {
  font-size: 16px;
  font-weight: 600;
  display: block;
}
.comments .user time {
  color: #888;
  font-size: 12px;
}
.comments .comment {
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px rgba(187, 187, 187, 0.6) solid;
}
.comments .comment .pending {
  display: block;
  font-style: italic;
}
.comments .comment .comment {
  padding-right: 32px;
}
.comments .comment p {
  margin-block: 8px;
}

.account, .commentInput, .content, aside, .rate, .comments {
  background-color: white;
  border-radius: 12px;
  box-shadow: var(--1db-ambient);
  padding: 16px 8px;
  margin-block: 8px;
  direction: rtl;
}

.commentInput {
  position: relative;
  width: calc(100% - 296px);
}
.commentInput [type=submit] {
  margin-top: 16px;
  float: left;
}
.commentInput .field {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.commentInput .field textarea {
  width: 100%;
}
.commentInput .field i {
  font-size: 48px;
}

.comments .comment button, .commentInput [type=submit] {
  cursor: pointer;
  box-shadow: var(--1db-ambient), var(--1db-penumbra);
  border: none;
  background-color: var(--blue-dark);
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-inline: 16px;
  color: white;
}
.comments .comment button:hover, .commentInput [type=submit]:hover {
  background-color: var(--blue-dark-80);
}

.commentInput .cancelR {
  display: none;
  position: absolute;
  top: 29px;
  left: 16px;
  color: var(--primary);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.account {
  width: 360px;
  max-width: calc(100% - 32px);
  box-shadow: 0 0 0 max(200vh, 200vw) rgba(0, 0, 0, 0.3);
  background-color: #eee;
}
.account .fa-xmark {
  top: 8px;
  right: 8px;
  font-size: 18px;
  color: rgba(119, 119, 119, 0.6666666667);
  cursor: pointer;
  position: absolute;
}
.account .loginTitle {
  font-size: 22px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-block: 8px;
}
.account form {
  border: 1px solid #ddd;
  outline: 16px white solid;
  margin-inline: 16px;
  margin: 40px 24px;
  background-color: white;
}
.account form .inputs {
  padding: 16px;
}
.account form .inputs [type=submit] {
  background-color: var(--good-green);
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.account form .inputs [type=submit]:hover {
  filter: saturate(1.3);
}
.account form .inputs div {
  position: relative;
}
.account form .inputs div i {
  left: 16px;
  color: #999;
  font-size: 20px;
}
.account form input {
  width: 100%;
  margin-block: 8px;
  font-size: 18px;
  padding: 8px;
}
.account .choose > span {
  white-space: nowrap;
  cursor: pointer;
  display: block;
  padding-block: 8px;
  height: 100%;
  font-size: 18px;
  width: 50%;
  text-align: center;
  background-color: #ddd;
}
@media (max-width: 360px) {
  .account .choose > span {
    font-size: 16px;
  }
}
.account .choose > span.act {
  background-color: white;
  border-top: 2px #0f9d58 solid;
}
.account .choose > span:hover {
  background-color: #f5f5f5;
}/*# sourceMappingURL=style.css.map */